<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381546592325-68c8j1n1112peu3aokeijevl97cukfvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381546592325-68c8j1n1112peu3aokeijevl97cukfvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBpGTypHFutM3R0JsoDZSckcKZyB256gH4</string>
	<key>GCM_SENDER_ID</key>
	<string>381546592325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riderApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-ccb91</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-ccb91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381546592325:ios:bcfbc739a2472c9a848b2c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-ccb91-default-rtdb.firebaseio.com</string>
</dict>
</plist>